body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 300px;
    border-radius: 50px;
    background: #212431;
}

nav:hover{
    text: #8E6952;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

:root {
    --medium-blue: #3E4C6C; 
    --dark-blue: #212431;
    --brown: #8E6952;
    --light-brown: #AB8B7A;
    --creme: #F3E2CB;
}

main{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 200px;
    gap: 50px;
    background-color:#2D3142;
}

main .row1 {

    grid-column: 1/2;
    grid-row: 1/3; 
    border: 1px;
    background-color: var(--dark-blue);
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    
}

main .row2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--dark-blue);
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
    
}

main .row3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--dark-blue);
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
}

.Sun:hover{
    background-color: var(--brown);
}

.Mercury:hover{
    background-color: var(--brown);
}

.Venus:hover{
    background-color: var(--brown);
}

.Earth:hover{
    background-color: var(--brown);
}

.Mars:hover{
    background-color: var(--brown);
}

.Jupiter:hover{
    background-color: var(--brown);
}

.Saturn:hover{
    background-color: var(--brown);
}

.Uranus:hover{
    background-color: var(--brown);
}

.Neptune:hover{
    background-color: var(--brown);
}

h2{
    text-align: left;
    padding: 10px;
    font-size: 50px;
}

.Sun::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 145px;
    background-color: yellow; 
    border-radius: 50%;
    flex: auto;

  }

  .Mercury::before {
    content: '';
    width: 38px;
    height: 38px;
    background-color: green; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }
  
  .Venus::before {
    content: '';
    width: 95px;
    height: 95px;
    background-color: purple; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }

  .Earth::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: darkcyan; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }
  
  .Mars::before {
    content: '';
    width: 53px;
    height: 53px;
    background-color: red; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }
  
  .Jupiter::before {
    content: '';
    width: 150px;
    height: 150px;
    background-color: darkolivegreen; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }
  
  .Saturn::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: orange; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }

  .Uranus::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: indianred; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }

  .Neptune::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: palegreen; 
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }
